.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width:98%; /* Make sure the header takes up the full width */
  position: fixed; /* Keeps the header fixed at the top */
  top: 0; /* Ensures it stays at the top */
  left: 0; /* Sticks to the left edge of the screen */
  z-index: 1000; /* Makes sure it's above other content */
}

.header h1 {
  margin: 0;
  font-size: 1.8rem;
}

/* Ensure the button container is aligned to the right */
.btn-container {
  display: flex;
  gap: 10px; /* Add some space between buttons */
}

.header button {
  padding: 8px 16px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
}

.header button:hover {
  background-color: #444;
}

.btn-links {
  display: flex;
  gap: 20px; /* Space between links */
}

.btn-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 8px;
}

.btn-links a:hover {
  text-decoration: underline;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn-container {
    margin-top: 10px;
    justify-content: flex-start;
    width: 100%; /* Make buttons take the full width on small screens */
  }

  .btn-links {
    width: 100%;
    margin-top: 10px;
  }
}
