.signup-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: white;
  margin-top: 200px; /* Space below the fixed header */
}

.signup-form input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
}

.signup-form button {
  padding: 10px;
  width: 85%;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}
